<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="about">
    <ion-card-content>
      <div class="about">
        trackMyBudget is an app which will help you track your earnings & expenses.
        With the help of this app, you will be able analyze your spending habits & control unnecessary spending. <br />
        <ion-text color="success" class="bt-padding-top">
          <h2 class="bt-padding-top">Some of it's core features:</h2>
        </ion-text>

        <ion-text>
          <h5 class="bt-padding-top">Easy to use: Easily add earnings & expenses and see previous entries.</h5>
        </ion-text>

        <ion-text>
          <h5 class="bt-padding-top">Slide to delete: Made a wrong entry? slide left on the item to delete it.</h5>
        </ion-text>

        <ion-text>
          <h5 class="bt-padding-top">Works offline: Privacy first, all you data is saved locally in the app.</h5>
        </ion-text>


        <ion-text class="bt-padding-top" color="tertiary">
          <h2 class="bt-padding-top">Upcoming features:</h2>
        </ion-text>

        <ion-text>
          <h5 class="bt-padding-top">Charts: You'll be able to easily visualize your spending habits using easy to
            understand graphs.</h5>
        </ion-text>

        <ion-text>
          <h5 class="bt-padding-top">Got a feedback? <a href="mailto:contact@bidhantech.in">Please feel free to contact
              me.</a></h5>
        </ion-text>

      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
